* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
  }
  
  :root {
    --celeste: #54A4CB;
    --verde: #674E3E;
    --rosa: #C9914B;
    --amarillo: #FFF159;
    --blanco: #fff;
    --gris: #3c3c3c;
    --negro: #000;
  }

 form.edit__product-form  {
  text-align: left;
    
 }

.formulario label {
  display: inline-flex;
  background-color: var(--blanco);
  padding: 0px 0px 0px 0px;
  margin: 9px 9px;
  text-align: left;
}

select  {
  
    font-size: 10px;
    margin-top: 4px;
    min-width: 25vw;
    height: 40px;
    line-height: 15px;
    display: flex;
    background-color: var(--blanco);
    border: solid 1px var(--verde);
    border-radius: 8px;
    font: inherit;
    text-align: left;
    padding: 5px 0px 5px 5px;
    box-sizing: border-box;

}

input.text,
input.form__input{
  min-width: 25vw;
  background-color: var(--blanco);
  border: solid 1px var(--verde);
  border-radius: 5px;
  font: inherit;
  text-align: left;
  padding: 14px 0px 14px 12px;
  
}



.buttons {
    background-color: var(--verde);
    color: white;
    border: 1px solid var(--verde);
    padding: 12px 14px;
    margin: 0 5px;
    border-radius: 6px;
    display:inline-flex;
  }
  
  /*con buttons alineamos los botones Enviar y Cancelar*/
  .buttons {
    display: inline-flex
  }
  
  /*con los hover modificamos la apariencia de los botones Enviar y Cancelar al pasarles el puntero por arriba*/
  .buttons:hover   {
    background-color: var(--celeste);
    border: 1px solid var(--celeste);
  }