/*Login Maru*/

/* Estilos Formularios - Register*/

.formulario {
    text-align: center;
}

.formulario p {
font-size: 16px;
}

.formulario h2 {
    color: var(--rosa);
    font-size: 24px;
}

.formulario input {
    display: inline-block;
    background-color: var(--blanco);
    padding: 15px 60px 15px 30px;
    margin: 9px 9px;
    border: solid 1.5px var(--verde);
    border-radius: 20px;
    font: inherit;
    text-align: left;
}

.formulario input:focus {
    color: var(--gris);
}

.formulario button {
    padding: 8px 10px;
    margin: 8px;
    background-color: var(--verde);
    border: 1px solid var(--verde);
    border-radius: 6px;
    font-family: 'Roboto', serif;
}

.formulario button a {
    text-decoration: none;
    color: var(--blanco);
}

.formulario h3{
    text-align: center;
    color: var(--gris);
    font-size: 16px;
    font-weight: lighter;
}

.resetButton:hover,
.sendButton:hover {
    background-color: var(--celeste);
    border: 1px solid var(--celeste);

}

.links { 
    text-decoration: none !important;
    color: var(--rosa) !important;
    font-size: 14px;
    font-weight: bold;
}

.crearPerfil {
    text-decoration: none;
    color: var(--rosa);
    font-size: 14px;
    font-weight: bold;
}