 /* Estilos universales */

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
}

:root {
    --celeste: #54A4CB;
    --verde: #674E3E;
    --rosa: #C9914B;
    --amarillo: #FFF159;
    --blanco: #fff;
    --gris: #3c3c3c;
    --negro: #000;
}

.titulo {
    color: var(--rosa);
     font-size: 28px;
     text-align: center;
}

.errores {
    font-size: 15px;
    color: red;
    text-align: left;
    background-color: white;
    padding: 5px;
    display: inline-block;
    background-color: var(--blanco);
    padding:3px 3px 3px 3px;
    margin-left: 730px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
 }
 
 .foto{
     max-width: 350px;
     margin-left: 70px ;
} 
 
p.tenesCuenta {
    font-size: 18px;
    margin-bottom:2px;
    
}

 .izquierda{
    background-color: #fff;
    text-align: center;
    
}

.formulario__label{
display: block;
font-weight: 700;
padding: 10px; 
cursor:pointer;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 100%;
    background: #fff;
    border:1px solid ;
    border-radius: 8px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.formulario__input:focus {
    border: 3px solid #54A4CB;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163,0.4);
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
display: block;
}

.formulario__validacion-estado{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

/*estilos para validacion*/
.formulario__grupo-correcto .formulario__validacion-estado {
color: #1ed12d;
opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color:#bb2929;

}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color:#bb2929;
    opacity: 1;

}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}


.formulario button {
    background-color: var(--verde);
    color: white;
    border: 1px solid var(--verde);
    padding: 12px 14px;
    margin: 0 5px;
    border-radius: 6px;
}

button  {
    text-decoration: none;
    color: white;
}

/*.login {
    text-align: center;
}*/


button:hover {
    background-color: var(--celeste);
    border: 1px solid var(--celeste);
}

.crearPerfil,
.irALogin {
    text-decoration: none;
    color:var(--rosa);
    font-size: 16px;
    font-weight: bold;
}

@media screen and (max-width: 800px){
    .container {
        grid-template-columns: 1fr;
    }
}