 /* Estilos universales */

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
}

:root {
    --celeste: #54A4CB;
    --verde: #674E3E;
    --rosa: #C9914B;
    --amarillo: #FFF159;
    --blanco: #fff;
    --gris: #3c3c3c;
    --negro: #000;
}
.errores {
    font-size: 15px;
    color: red;
    text-align: left;
    background-color: white;
    padding: 5px;
    width: 100%;
    display: inline-block;
    background-color: var(--blanco);
    padding:15px 60px 15px 30px;
    margin-left: 550px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 98%;
    margin-left: 20px;
 }
 
 .foto{
     max-width: 300px;
     margin-left: 70px ;
} 
 
p {
    font-size: 17px;
}

 .izquierda{
    background-color: #fff;
    text-align: center;
}

.formulario {
    text-align: left;
    background-color: white;
    display: flex-block;
}

.formulario p {
font-size: 15px;
}

.titulo {
    color: var(--rosa);
     font-size: 28px;
     text-align: center;
}

.formulario input {
    margin-top: 4px;
    min-width: 25vw;
    height: 30px;
    line-height: 15px;
    display: flex;
    background-color: var(--blanco);
    border: solid 1px var(--verde);
    border-radius: 20px;
    font: inherit;
    text-align: left;
    padding: 10px 0px 8px 8px;
    box-sizing: border-box;
}

.formulario input:focus {
    color: var(--verde);
}

.formulario button {
    background-color: var(--verde);
    color: white;
    border: 1px solid var(--verde);
    padding: 12px 14px;
    margin: 0 5px;
    border-radius: 6px;
}

.formulario button a {
    text-decoration: none;
    color: white;
}

.login {
    text-align: center;
}

.resetButton:hover,
.sendButton:hover {
    background-color: var(--celeste);
    border: 1px solid var(--celeste);
}

.crearPerfil,
.irALogin {
    text-decoration: none;
    color:var(--rosa);
    font-size: 16px;
    font-weight: bold;
}