<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos: idiomas, adaptabilidad, estilos, tipografías, iconos y título -->
    <link href="/css/styles-reg.css" rel="stylesheet">
    <title>Registro - Animalia</title>
    <%- include ('../partials/head') %>
</head>