<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos: idiomas, adaptabilidad, estilos, tipografías, iconos y título -->
    <link href="/css/styles-reg.css" rel="stylesheet">
    <title>Registro - Animalia</title>
    <%- include ('../partials/head') %>
</head>

<body>
    <!-- Aquí comienza el header: logo, navbars y campo de búsqueda -->
    <%- include('../partials/header.ejs') %>

        <!-- Aquí comienza el main FORMULARIO REGISTRO-->
        <main>
            <h2 class="titulo">Ingresá tus datos para crear tu cuenta en Animalia</h2>

            <div class="container">
                <div class="izquierda">
                    <br>
                    <picture>
                        <img src="/images/perroRegister.jpg" alt="" data-testid="hero-image" class="foto">
                    </picture>
                    <br><br>

                    <p>¿Ya tenés cuenta cuenta con nosotros? </p>
                    <a href="./login" class="irALogin">Iniciar sesión</a>
                    <br>
                    <br>
                </div>

                <div class="formulario">

                    <form action="/users/register" class="form.register" id="form.register" method="POST"
                        enctype="multipart/form-data">

                        <!--input name-->
                        <div class="formulario__grupo" id="grupo__name">
                            <label for="name" class="formulario__label"></label>
                            <div class="formulario__grupo-input">
                                <input type="text" class="formulario__input" name="name" id="name"
                                    placeholder="Nombre y Apellido">
                                <!--<i class="formulario__validacion-estado fa-regular fa-circle-xmark"></i>-->
                            </div>
                            <p class="formulario__input-error">Ingresá tu nombre sin números ni caracteres especiales
                            </p>
                        </div>


                        <!--input user-->
                        <div class="formulario__grupo" id="grupo__user">
                            <label for="user" class="formulario__label"></label>
                            <div class="formulario__grupo-input">
                                <input type="text" class="formulario__input" name="user" id="user"
                                    placeholder="Nombre de Usuari@">
                                <!--<i class="formulario__validacion-estado fa-regular fa-circle-xmark"></i>-->
                            </div>
                            <p class="formulario__input-error">El usuari@ debe tener entre 8 y 12 dígitos</p>
                        </div>


                        <!--input email-->
                        <div class="formulario__grupo" id="grupo__email">
                            <label for="email" class="formulario__label"></label>
                            <div class="formulario__grupo-input">
                                <input type="email" class="formulario__input" name="email" id="email"
                                    placeholder="Correo Electrónico">
                                <!--<i class="formulario__validacion-estado fa-regular fa-circle-xmark"></i>-->
                            </div>
                            <p class="formulario__input-error">Ingresa un formato de email válido</p>
                        </div>


                        <!--
                <p><input type="date" name="fecha" value="2020-03-19" required>
                    <label for="birth">Fecha de nacimiento</label>
                        <br>
                    </input></p> -->

                        <!--input adress-->
                        <div class="formulario__grupo" id="grupo__address">
                            <label for="address" class="formulario__label"></label>
                            <div class="formulario__grupo-input">
                                <input type="text" class="formulario__input" name="address" id="address"
                                    placeholder="Diección">
                                <!--<i class="formulario__validacion-estado fa-regular fa-circle-xmark"></i>-->
                            </div>
                            <p class="formulario__input-error">Ingresá tu Dirección</p>
                        </div>


                        <!--input password-->
                        <div class="formulario__grupo" id="grupo__password">
                            <label for="password" class="formulario__label"></label>
                            <div class="formulario__grupo-input">
                                <input type="text" class="formulario__input" name="password" id="password"
                                    placeholder="Contraseña">
                                <!--<i class="formulario__validacion-estado fa-regular fa-circle-xmark"></i>-->
                            </div>
                            <p class="formulario__input-error">La contraseña debe tener mínimo 8 dígitos</p>
                        </div>


                        <!--input confirmPassword-->
                        <div class="formulario__grupo" id="grupo__confirmPassword">
                            <label for="confirmPassword" class="formulario__label"></label>
                            <div class="formulario__grupo-input">
                                <input type="text" class="formulario__input" name="confirmPassword" id="confirmPassword"
                                    placeholder="Reingresar Contraseña">
                                <!--<i class="formulario__validacion-estado fa-regular fa-circle-xmark"></i>-->
                            </div>
                            <p class="formulario__input-error">Las contraseñas deben coincidir</p>
                        </div>



                        <!--input thumbnail-->
                        <div class="formulario__grupo" id="grupo__thumbnail">
                            <label for="thumbnail" class="formulario__label"></label>
                            <div class="formulario__grupo-input">
                                <input type="file" class="formulario__input" name="thumbnail" id="thumbnail"
                                    placeholder="Seleccionar una Imagen de perfil">
                                <!--<i class="formulario__validacion-estado fa-regular fa-circle-xmark"></i>-->
                            </div>
                            <p class="formulario__input-error">Selecciona una Imagen de Perfil</p>
                        </div>


                        <!--button submit-->
                        <br>
                        <br>
                        <div class="formulario__grupo formulario__grupo-btn-enviar"></div>
                        <button type="submit" class="formulario__btn" value="Crear cuenta">Crear cuenta</button>
                    </form>
                </div>
                <br>
                
        </main>

        <!-- Aquí comienza el footer: lista de correo, links de información y redes sociales -->
        <%- include('../partials/footer.ejs') %>

            <!-- Validaciones-->
            <script src="/js/js_register.js"></script>

</body>

</html>