<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos: idiomas, adaptabilidad, estilos, tipografías, iconos y título -->
    <link href="/css/styles-reg.css" rel="stylesheet">
    <title>Registro - Animalia</title>
    <%- include ('../partials/head') %>
</head>

<body>
    <!-- Aquí comienza el header: logo, navbars y campo de búsqueda -->
    <%- include('../partials/header.ejs') %>

    <!-- Aquí comienza el main FORMULARIO REGISTRO-->
    <main>
        <h2 class="titulo">Ingresá tus datos para crear tu cuenta en Animalia</h2>
       
        <!-- Errores en carga formulario -->
        <div class="errores"> <ul></ul></></div>
    
        <div class="container">
               <div class="izquierda">
                <br><br><br><br>
                <picture>
                    <img src="/images/perroRegister.jpg" alt="" data-testid="hero-image" class="foto">
                </picture>
                <br><br><br><br><br>

            <p class>¿Ya tenés cuenta cuenta con nosotros?  </p>
                <a href="./login" class="irALogin">Iniciar sesión</a>
                <br>
            <br>
                </div>
        <div class="formulario"> 
            <form class= "register" action="/user/register/confirm" method="POST" enctype="multipart/form-data">
            <br>
                <label for="nombreyapellido">Nombre y Apellido</label>
                <p><input type="text" class="nombreyapellido" placeholder="Ingrese su nombre" required>
                     </input></p>
                <br>
                <label for="user">Nombre de usuari@</label>
                <p><input type="text" class="user" placeholder="Ingrese su usuario" required>
                    </input></p>
                <br>
                <label for="email">Email</label>
                <p><input type="email" class="email" placeholder="Ingrese su correo electronico" required>
                    </input></p>
                <br>
                <label for="birth">Fecha de nacimiento</label>
                <p><input type="date" class="fecha" value="2020-03-19" required>
                    </input></p>
                <br>
                <label for="images" class="form__label">Foto de Perfil *</label><br>
                <p><input type="file" class="avatar" class="form__input" accept=".jpg" accept=".JPEG" accept=".PNG" accept=".GIF" multiple></p>
                <br>
                <label for="password">Elige una contraseña </label>
                <p><input type="password" class="password" placeholder="Al menos 8 caracteres alfanuméricos" required>
                </input></p>
                    <!-- Pendiente botón para mostrar contraseña -->
                <br>
                <label for="confirmPassword">Reingresá la contraseña elegida</label>
                <p><input type="password" class="confirmPassword" placeholder="Confirmá tu contraseña" required></input></p>
                <br>
                <button type="submit" value="Crear cuenta"><a >Crear cuenta</a></button>
            </form>
            <br>
            </div>
        </div>
        <!--Aquí termina el formulario de registro MARIANO-->
    </main>

    <!-- Aquí comienza el footer: lista de correo, links de información y redes sociales -->
    <%- include('../partials/footer.ejs') %>

    <!-- Validaciones-->
    <script src="/js/js_register.js"> 
    </script>
</body>

</html>